**/.DS_Store
**/.git
**/.gitignore
**/.vs
**/.vscode
**/bin
**/obj
**/node_modules
**/dist
**/out
**/*.user
**/*.suo
**/*.cache
**/*.log
**/*.db
**/*.sqlite
**/*.pdb
**/*.mdf
**/*.ldf
**/.idea
**/.env
**/.env.*
src/Commonword.Api/appsettings.Production.json
src/Commonword.Api/appsettings.*.json
**/docker-compose.yml
